{% extends 'base.html.twig' %}

{% block title %}Hello Chef custo !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Chef cuisto {{ controller_name }}! ✅</h1>

    lke chef cuisto est tres performant :
    <ul>
        <li>le controller est : <code>C:/Projets/Tuto_symfony/src/Controller/ChefcustoController.php</code></li>
        <li>Your template at <code>C:/Projets/Tuto_symfony/templates/chefcusto/index.html.twig</code></li>
    </ul>
</div>


{% endblock %}
