{% extends 'base.html.twig' %}

{% block title %}le reccette du
!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Recette {{ recette.title }}! ✅</h1>

    <p>Voire la recette de : <br>
    
    {{ recette.contenu |nl2br }}
    </p>
<br>

</div>
{% endblock %}
